@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*  -------------------------------------------
    -------------------------------------------
    CSS RESET
    --------------------------------------------
    --------------------------------------------
*/
*,
*::Before,
*::after{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    font-family:"Roboto", "Helevetica Neue", Helvetica, sans-serif;
    font-size:20px;
}

/*  -----------------------------------------------
    -----------------------------------------------
    BUTTON CSS
    ------------------------------------------------
    ------------------------------------------------
*/

.btn{
    border-style:double;
    margin:10px;
    color:black;
    border-radius:20px;

}
.btn1{
    border:1px ridge black;
    background-color:lightskyblue;
    color:orangered;
    border-radius:25px;
}
.marg{
    display:inline-block;
    margin:20px;
}
/*  ----------------------------------------------
    -----------------------------------------------
    LINK CSS
    -----------------------------------------------
    ------------------------------------------------
*/

.link{
    color:black;
    text-decoration:none;
}
.link:hover{
    color:red;
}

/*  --------------------------------------------------------
    ---------------------------------------------------------
    PRIMARY HEADER CSS
    ---------------------------------------------------------
    ---------------------------------------------------------
*/
.hamburger{
    display:none;
}
.primary-header{
    height:900px;
    background:linear-gradient(rgba(0, 0, 0, 0.2),rgba(0,0,0,0.2)),url("../images/sky.jpg");
    background-size:cover;
}
.primary-header nav{
    letter-spacing:5px;
}
.primary-header nav ul li{
    display:inline-block;
    margin:10px;
    font-size:30px;
}
.primary-header nav ul li a{  
    font-weight: 500;
}

.primary-header nav a.button,.primary-header nav ul{
    display:inline-block;
}
.primary-header nav a.button{
    float:right; 
    font-size:30px;
    font-weight:500;
}

.primary-header nav a.button::after{
    clear:both;
    content:"";
    display:block;
}

.primary-header div.primary-container{
    text-align:center;
    margin-top:300px;
}
.primary-header div.primary-container h1{
    font-size:60px;
    font-weight:500;
}
.primary-header div.primary-container p.content{
    font-size:25px;

}
.primary-header div.primary-container a.btn2{
    margin:5px;
    display:inline-block;
    font-size:30px;   
}

/*  -------------------------------------------------------
    -------------------------------------------------------
    SECTION-1 
    -------------------------------------------------------
    -------------------------------------------------------
*/

.aboutme-container{
    text-align:center;
    margin:0 2.5%;
    margin-top:80px;
}
.aboutme-container h2{
    margin:10px;
}
.aboutme-container p{
    width:50%;
    display:inline-block;
}
.aboutme-container p{
    float:left;
    text-align:justify;
    margin-top:40px;
    font-size:30px;
}
.aboutme-container p::after{
    clear:both;
    content:"";
    display:block;
}
.aboutme-container p a.btn-prtfo{
    display:inline-block;
}

.aboutme-container div.another img{
    width:50%;
    height:200px;
    /* border-radius:10px; */
}
.aboutme-container div.another p{
    width:100%;
    text-align:center;
}
.aboutme-container div.another div{
    width:22%;
    float:left;
    margin:1.5%;
    margin-top:50px;
    
}
.aboutme-container div.another::after {
    clear:both;
    content: "";
    display: block;
}
.aboutme-container div.another h2{
    color:orangered;
}
.aboutme-container div.another a{
    color:gray;
    display:inline-block;
    margin:10px;
    font-size:25px;
}
.aboutme-container div.another a:hover{
    color:red;
}

/*  ---------------------------------------------------------------
    ---------------------------------------------------------------
    SECTION-2                                                       
    ----------------------------------------------------------------
    ----------------------------------------------------------------
*/
.why-container{
    text-align:center;
}
.why-container div,.why-container p{
    float:left;
    width:50%;
}
.why-container img{
    height:500px;
    width:80%;
}
.why-container p{
    margin-top:200px;
    font-size:30px;
}
/* .why-container a{

} */
.why-container h2{
    padding-top:30px;
    margin-bottom:30px;
}
.why-container::after{
    clear:both;
    content:"";
    display:block;
}
/*  ----------------------------------------------------------------
    ----------------------------------------------------------------
    Section-3
    ----------------------------------------------------------------
    ----------------------------------------------------------------
*/
.contact-container{
    text-align:center;
    background-color:lightskyblue;
    margin-top:50px;
}
.contact-container div{
    float:left;
    width:50%;
    margin-top:20px;
}
.contact-container img{
    height:500px;
    width:50%;
}
.contact-container div.content{
    text-align:left;
    margin-top:60px;
    font-size:30px;
}
.contact-container div.content h3{
    font-size:40px;
    margin-bottom:10px;
}
.contact-container::after{
    clear:both;
    content:"";
    display:block;
}
.contact-container h2{
    padding-top:20px;
}
.contact-container a{
    background-color:azure;
    border:1px solid black;
    border-radius: 15px;
    display:inline-block;
    width:150px;
    height:50px;
    padding-top:5px;
    text-align:center;
}

/*
    --------------------------------------------
    --------------------------------------------
    Media query
    ---------------------------------------------
    ----------------------------------------------
*/
@media(max-width:500px){
    
/*hamburger click response*/
    .primary-nav.responsive .hamburger{
    color:aquamarine;
    }
    .primary-nav.responsive{
        height:90vh;
        background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    }
    .primary-header nav.primary-nav.responsive div.normal{
        width:50%;
        margin:0 25%;
        text-align:center;
    }
    .primary-header nav.primary-nav.responsive{
        padding:30% 0;
    }
    .primary-header nav.primary-nav.responsive div li,
    .primary-header nav.primary-nav.responsive div.normal a{
        display:block;
        float:none;
        margin-top:2vh;
    }
    .primary-header nav.primary-nav.responsive div.primary-container{
        display:none;
    }
/*primary-header*/
    .hamburger{
        display:block;
        position:absolute;
        margin:3vh;
        color:black;
        top:0px;
        text-decoration:none;
    
    }
    
    .primary-header nav.primary-nav div li,
    .primary-header nav.primary-nav div.normal a{
        display:none;
        margin:7vh 0;
        color:aquamarine;
    }
    .primary-header nav.primary-nav div.normal a:hover{
        color:red;
    }
    
    .primary-header{
        height:90vh;
        /* background-size:contain; */
        background-position-x: 160vw;
    }
    .primary-header nav{
        letter-spacing: 0;
    }
    .primary-header div.primary-container{
        margin-top:30vh;
    }
    .primary-header div.primary-container h1{
        font-size:24px;
    }
    .primary-header div.primary-container p.content{
        font-size:16px;
        margin-top:2vw;
    }
    .primary-header div.primary-container a.btn2{
        margin:5vw;
        display:inline-block;
        font-size:20px;   
    }
/*Section-1*/

    .aboutme-container{
        margin-top:10vh;
        /* margin-left:2.5%;
        margin-right:2.5%; */
    }
    .aboutme-container p{
        float:none;
        width:100%;
        margin:1vh auto;
    }
    .vector-image img{
        margin:5vh auto;
        width:100%;
        height:50vh;
    }
    .aboutme-container p a.btn-prtfo{
     margin-top:3vh;
    }
    .aboutme-container div.another div{
        float:none;
        width:100%;
        margin-top:5vh;
    }
/* section-2*/
    hr{
        margin:2vh 0;
    }
    .why-container div,.why-container p{
        float:none;
        width:100%;
    }
    .why-container div img{
        width:100%;
    }
    .why-container p{
        margin-top:0;
    }
/*section-3*/
    .contact-container div {
        float:none;
        margin-top:4vh;
        width:100%;
    }
    .contact-container img{
        width:90%;
    }
    .contact-container div.content{
        font-size:25px;
        text-align:center;
    }
    .contact-container div.content ul{
        text-align:left;
    }
    .contact-container div.content h3{
        font-size:30px;
    }
    .contact-container a{
        margin:3vh 0;
    }
}
