@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*  -------------------------------------
    -------------------------------------
    CSS RESET
    --------------------------------------
    --------------------------------------
*/

*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", Helvetica, Arial, sans-serif;

}

/*  --------------------------------------
    ---------------------------------------
    PRIMARY HEADER
    ----------------------------------------
    ----------------------------------------
*/

.primary-header{
    background:linear-gradient(rgba(255, 0, 0, 0.6),rgba(0, 0, 255, 0.6));
    background-size:cover;
    /* background-position:0px 900px; */
    height:400px;
    text-align:center;
}
.primary-header div{
    padding-top:200px;
}
.primary-header div h1{
    font-size:60px;
    color:black;
    text-shadow: 2px 3px 4px green;
}
.primary-header div span{
    font-size:30px;
}

/*
    -------------------------------------------
    -------------------------------------------
    Sections
    --------------------------------------------
    ---------------------------------------------
*/
.back-img{
    height: 100%;
    width:100%;
    background-image: url(../images/forest.jpg); 
    background-size:cover;
    background-repeat: no-repeat;
    position:fixed;
    z-index:-1;

}

/* body{ */
    /* background: rgb(198, 14, 235); */
    /* background: linear-gradient(blue 0%,red 100%); */
    /* background-image: url(../images/forest.jpg); */
    /* background-size:contain; */
    /* background-repeat: no-repeat; */

/* } */
/* .proj-display{
    background:linear-gradient(rgba(255, 94, 0, 0.5),rgba(255,94,0,0.5));
    
} */
.proj-display div.sec-back{
    background:rgb(255,94,0);
    background:linear-gradient(rgba(255, 94, 0, 0.6),rgba(255,94,0,0.6));
    width:70%;
    margin:0 15%;

}
.proj-display div.sec-back section{
    width:100%;
    height:300px;
    margin: 80px auto;   
}
.proj-display div.sec-back div{
   height:inherit;
   background:azure;
   
}
.proj-display div section h2{
    text-align:center;
    font-size:30px;
    background:rgb(0,255,0);
    background:linear-gradient(rgba(0,255,255,0.6),rgba(0,255,255,0.6));
}
.proj-display section img,
.proj-display section p{
    float:left;
    width:50%;
} 
.proj-display section img{
    width:25%;
    height:100%;
}
.proj-display div::after{
    clear:both;
    content:"";
    display:block;
}